#
# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "psaCryptoDriver"
    config MCUX_COMPONENT_component.psa_crypto_driver.osal
        bool "OSAL"

    config MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
        bool "OSAL FreeRTOS"
        select MCUX_COMPONENT_component.psa_crypto_driver.osal

    config MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal
        bool "OSAL Baremetal"
        select MCUX_COMPONENT_component.psa_crypto_driver.osal

    config MCUX_COMPONENT_component.psa_crypto_driver.mbedtls_thread_alt
        bool "Mbed TLS Thread Alt"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.rw61x
        bool "ELS PKC Oracle RW61x"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mcxn
        bool "ELS PKC Oracle MCXN"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mimxrt
        bool "ELS PKC Oracle MIMXRT"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.lpc
        bool "ELS PKC Oracle LPC"

     config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle
         bool "ELS PKC Oracle"

        if MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle
          choice
            prompt "Platform"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.rw61x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.rw61x
                bool "RW61x"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.rw61x
                depends on MCUX_HW_DEVICE_RW610 || MCUX_HW_DEVICE_RW612

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.mcxn
                bool "MCXN"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mcxn
                depends on MCUX_HW_DEVICE_MCXN546 || MCUX_HW_DEVICE_MCXN547 || MCUX_HW_DEVICE_MCXN946 || MCUX_HW_DEVICE_MCXN947 || MCUX_HW_DEVICE_MCXN235 || MCUX_HW_DEVICE_MCXN236 || MCUX_HW_DEVICE_MCXN247 || MCUX_HW_DEVICE_MCXN526 || MCUX_HW_DEVICE_MCXN527 || MCUX_HW_DEVICE_MCXN536 || MCUX_HW_DEVICE_MCXN537 || MCUX_HW_DEVICE_MCXN556S

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.mimxrt
                bool "MIMXRT"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mimxrt
                depends on MCUX_HW_DEVICE_MIMXRT798S || MCUX_HW_DEVICE_MIMXRT758S || MCUX_HW_DEVICE_MIMXRT735S

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.lpc
                bool "LPC"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.lpc
                depends on MCUX_HW_DEVICE_LPC55S36
            endchoice
        endif


    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.common
        bool "ELS PKC Common"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.transparent
        bool "ELS PKC Transparent"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.opaque
        bool "ELS PKC Opaque"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc
        bool "ELS PKC"
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.common
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.opaque
        select MCUX_COMPONENT_component.els_pkc.psa_driver

        if MCUX_COMPONENT_component.psa_crypto_driver.els_pkc
          choice
            prompt "Hardware Platform Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc_DEPEND_ANYOF_1_OPTION_1
            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc_DEPEND_ANYOF_1_OPTION_1
                bool "RW61x with TRNG support"
                select MCUX_COMPONENT_driver.trng
                select MCUX_COMPONENT_component.psa_crypto_driver.use_trng_compile_option
                depends on MCUX_HW_DEVICE_RW610 || MCUX_HW_DEVICE_RW612

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc_DEPEND_ANYOF_1_OPTION_2
                bool "MCXN/RT700/LPC55S36 series devices"
                depends on MCUX_HW_DEVICE_MCXN546 || MCUX_HW_DEVICE_MCXN547 || MCUX_HW_DEVICE_MCXN946 || MCUX_HW_DEVICE_MCXN947 || MCUX_HW_DEVICE_MCXN235 || MCUX_HW_DEVICE_MCXN236 || MCUX_HW_DEVICE_MCXN247 || MCUX_HW_DEVICE_MCXN526 || MCUX_HW_DEVICE_MCXN527 || MCUX_HW_DEVICE_MCXN536 || MCUX_HW_DEVICE_MCXN537 || MCUX_HW_DEVICE_MCXN556S || MCUX_HW_DEVICE_MIMXRT798S || MCUX_HW_DEVICE_MIMXRT758S || MCUX_HW_DEVICE_MIMXRT735S || MCUX_HW_DEVICE_LPC55S36

          endchoice
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config if (!MCUX_COMPONENT_middleware.tfm.s)
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.only_accelerator_config if (MCUX_COMPONENT_middleware.tfm.s)
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.dcp
        bool "DCP"
        select MCUX_COMPONENT_driver.dcp
        select MCUX_COMPONENT_driver.trng
        select MCUX_COMPONENT_component.osa
        if MCUX_COMPONENT_component.psa_crypto_driver.dcp
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.dcp.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.dcp.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.dcp.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.dcp.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.dcp.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.dcp.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.use_trng_compile_option
        bool "Use TRNG"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
        bool "ELE S4xx RNG"
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto
        if MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_transparent
        bool "ELE S4xx Transparent"
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_sd_nvm_mgr
        bool "ELE S4xx SD NVM Manager"
        select MCUX_COMPONENT_driver.usdhc
        select MCUX_COMPONENT_component.rgpio_adapter
        select MCUX_COMPONENT_middleware.sdmmc.host.usdhc
        select MCUX_COMPONENT_middleware.sdmmc.sd
        select MCUX_COMPONENT_middleware.fatfs.sd
        select MCUX_COMPONENT_middleware.fatfs
        select MCUX_COMPONENT_component.ele_nvm_manager

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_opaque
        bool "ELE S4xx PSA Opaque"
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa
        bool "ELE S4xx"
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_opaque
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_transparent
        if MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_persistent_storage
        bool "ELE S4xx with Persistent Storage"
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_opaque
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_sd_nvm_mgr
        select MCUX_COMPONENT_middleware.mbedtls3x.crypto_storage_fatfs
        if MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_persistent_storage
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_ps.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_ps.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_ps.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_ps.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_ps.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_ps.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.common
        bool "ELE S200 Common"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.transparent
        bool "ELE S200 Transparent"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.opaque
        bool "ELE S200 Opaque"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200
        bool "ELE S200"
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.common
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.opaque
        select MCUX_COMPONENT_middleware.secure-subsystem.elemu
        if MCUX_COMPONENT_component.psa_crypto_driver.ele_s200
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s200.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s200.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s200.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s200.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s200.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config if (!MCUX_COMPONENT_middleware.tfm.s)
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.only_accelerator_config if (MCUX_COMPONENT_middleware.tfm.s)
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_s200.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.casper
        bool "CASPER"
        select MCUX_COMPONENT_driver.casper

        # We provide option to have hashcrypt-only, or CASPER+hashcrypt, but CASPER-only is not available.
        select MCUX_COMPONENT_component.psa_crypto_driver.hashcrypt

        # Casper requires the bignum module of mbedtls3x, hence this dependency
        select MCUX_COMPONENT_middleware.mbedtls3x.crypto.no_psa

        if MCUX_COMPONENT_component.psa_crypto_driver.casper
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.casper.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.casper.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.casper.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.casper.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.casper.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.casper.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.hashcrypt
        bool "HASHCRYPT"
        select MCUX_COMPONENT_driver.hashcrypt
        select MCUX_COMPONENT_component.rng_adapter_interface
        if MCUX_COMPONENT_component.psa_crypto_driver.hashcrypt
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.hashcrypt.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.hashcrypt.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.hashcrypt.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.hashcrypt.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.hashcrypt.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.hashcrypt.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.caam
        bool "CAAM"
        select MCUX_COMPONENT_driver.caam
        if MCUX_COMPONENT_component.psa_crypto_driver.caam
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.caam.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.caam.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.caam.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.caam.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.caam.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.caam.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.ela_csec
        bool "ELA CSEC"
        select MCUX_COMPONENT_driver.ela_csec
        if MCUX_COMPONENT_component.psa_crypto_driver.ela_csec
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ela_csec.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ela_csec.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ela_csec.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ela_csec.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ela_csec.mbedtls3x
                bool "Mbed TLS 3.x"
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ela_csec.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_hseb
        bool "ELE HSEB"
        select MCUX_COMPONENT_component.ele_hseb
        if MCUX_COMPONENT_component.psa_crypto_driver.ele_hseb
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_hseb.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_hseb.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_hseb.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_hseb.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_hseb.mbedtls3x
                bool "Mbed TLS 3.x"
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.ele_hseb.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.sgi.common
        bool "SGI Common"

    config MCUX_COMPONENT_component.psa_crypto_driver.sgi.transparent
        bool "SGI Transparent"

    config MCUX_COMPONENT_component.psa_crypto_driver.sgi
        bool "SGI"
        select MCUX_COMPONENT_component.psa_crypto_driver.sgi.transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.sgi.common
        select MCUX_COMPONENT_component.sgi_pkc
        select MCUX_COMPONENT_component.sgi_pkc.example

        if MCUX_COMPONENT_component.psa_crypto_driver.sgi
          choice
            prompt "OSAL Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.sgi.osal_baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.sgi.osal_baremetal
                bool "Baremetal"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.sgi.osal_frtos
                bool "FreeRTOS"
                select MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
          endchoice
          choice
            prompt "Mbed TLS Version"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.sgi.mbedtls3x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.sgi.mbedtls3x
                bool "Mbed TLS 3.x"
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.psa_crypto_config if (!MCUX_COMPONENT_middleware.tfm.s)
                imply MCUX_COMPONENT_middleware.mbedtls3x.port.only_accelerator_config if (MCUX_COMPONENT_middleware.tfm.s)
                select MCUX_COMPONENT_middleware.mbedtls3x.crypto

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.sgi.mbedcrypto
                bool "Mbed Crypto"
                select MCUX_COMPONENT_middleware.mbedcrypto
          endchoice
        endif

endmenu
